body {
    background-color: black;
}
.head h1 {
    font-family: Arial;
    color: red;
    font-style: bold;
}
.navigasi button {
    background-color: red;
    font-family: georgia;
    color: white;
    width: auto;
    height: 25px;
}
.produk table {
    background-color: darkgrey;
    font-family: Arial, Helvetica, sans-serif;
    width: 100px;
    height: 100px;
    margin: 50px 50px 50px 50px;
    display: inline-table;
}
span {
    color: white;
}
.produk button {
    background-color: red;
    color: white;
    font-family: Arial normal Impact, 'Arial Narrow Bold', sans-serif;
    width: 150px;
    height: auto;
    margin: 10px;
    border-collapse: collapse;
}
.produk img {
    margin: 20px 20px 10px 20px;
}